<!--
Founder and Wizard - Andrew Mendez aka DRIZZY 1/4/16
-->
<!DOCTYPE html>
<html lang="en" ng-app="CESNewsFeedApp">
<head>
    <meta charset="UTF-8">
    <title>CES News Feed</title>
    
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
    <script src="app.js"></script>

     <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body ng-controller="CESNewsFeedController as controller" class="blue-grey lighten-5">



  <nav>
      <div class="nav-wrapper teal" style="padding-left:10px; padding-right:10px; margin-bottom:10px;">
      <a href="#" class="brand-logo center">CES News Feed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a href="#"><i class="material-icons">refresh</i></a></li>
      </ul>
    </div>
  </nav>

        
<!--Search-->
<div class="row">
    <div class="col s12 m3 ">

<label><i class="material-icons">search</i>  <input ng-model="searchText" placeholder="Samsung, Sony, Virtual Reality"></label>
</div>
</div>

  <!-- FIRST CARD TO FIX SCROLL ISSUE-->
  <div class="row">
      <!-- CNET Feed -->
      <div class="col  s12 m10 offset-m1">
          <div class="card" style="opacity:100" ng-repeat="app in [0]|filter:searchText|limitTo:1">
              <div class="card-image">
                  <img src="{{controller.cnetFeed[controller.cnetFeed.length/2].image.src}}">
                  <a href="{{controller.cnetFeed[controller.cnetFeed.length/2].headline.href}}">
                      <span class="card-title">{{controller.cnetFeed[0].headline.text}}</span></a>
              </div>
              <div class="card-content">
                  <p>{{controller.cnetFeed[0].time[0]+" "+controller.cnetFeed[0].time[1]}}</p>
              </div>
          </div>
      </div>

    <!-- CNET Feed -->
      <div class="col s12 m6 l4">
        <div class="card" id="filteredCard" ng-repeat="article in controller.cnetFeed|filter:searchText|limitTo:9">
            <div class="card-image">
                <img src="{{article.image.src}}">
                <a href="{{article.headline.href}}">
                <span class="card-title">{{article.headline.text}}</span></a>
            </div>
            <div class="card-content">
                <p>{{article.time[0]+" "+article.time[1]}}</p>
            </div>
        </div>
    </div>
    <!-- TechCrunch Feed -->
    <div class="col s12 m6 l4">
                
                <div class="card" id="filteredCard" ng-repeat="tArticle in controller.techCrunchFeed | filter:searchText|limitTo:6">
                    
                   <div class="card-image">
                        <img src="{{tArticle.images.src}}">
                        
                         <a href="{{tArticle.headline.href}}"><span class="card-title" style="color:#eceff1">{{tArticle.headline.text}}</span></a>
                    </div>
                    <div class="card-content">
                        <p>{{tArticle.time}}</p>
                    </div>
                </div>
    </div>


    <!-- The verge Feed -->
    <div class="col s12 m6 l4">
                <div class="card" id="filteredCard" ng-repeat="vArticle in controller.theVergeFeed | filter:searchText|limitTo:6" >
                    <div class="card-image" >

                        <img src="{{vArticle.image2['data-original']}}">
                          <a href="{{vArticle.headline.href}}">
                        <span class="card-title" style="color:#eceff1">{{vArticle.headline.text}}</span></a>
                    </div>
                    <div class="card-content">
                        <p>{{vArticle.time}}</p>
                    </div>
                </div>
    </div>

</div>
</body>

<footer class="page-footer brown lighten-4">
    <div class="container">
        <div class="row">
            <div class="col l3 s12 m6">
                <article id="text-6" class="panel widget widget_text"><h5 class="abrown-text">About CES News Feed</h5>
                <div class="textwidget">  </div>
                </article>

            </div>

            </div>
            <div class="col l3 s12 m6">
                <p>An aggregation of news for CES 2016</p>
            </div>


            <div class="col l3 s12 m6">
                <p> <a target="_blank" href="http://twitter.com/cesnewsfeed">Twitter</a></p>
            </div>



        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a href="https://github.com/interactivetech/CESNewsFeed/">Andrew Mendez</a>, Eduardo Dennis, Christian Vazquez
        </div>
    </div>
</footer>


<script>
$(document).ready(function() {
    

    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $(".card").each( function(i){
            
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                
                $(this).animate({'opacity':'1'},500);
                    
            }
            
        }); 
    
    });
    
});
</script>
<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72021436-1', 'auto');
  ga('send', 'pageview');

  
  
</script>
-->
</html>

